*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-color: rgb(42, 30, 112);
	color: whitesmoke;
}


.choice-box {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(43, 87, 87);
    font-size: 3rem;
    min-width: 80rem;
}

.choices:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(60, 101, 101);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choiceletter {
    padding: 2rem 2.5rem;
}

.choicetext {
    padding: 2rem;
    width: 100%;
}

.progress {
    text-align: center;
    font-size: 2rem;
}

.correct {
    text-align: center;

}




@media screen and (max-width: 768px){
    .choices {
        min-width: 40rem;
    }
}