*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-color: rgb(42, 30, 112);
	color: whitesmoke;
}


nav {
	padding: 20px;
	border: 0;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: right;
	/*storing time and high scores here, so space for two items at each end*/
}

/*display none homepage too and get it to do that when start button is clicked*/
#homepage {
	padding: 0;
	border: 0;
	margin: auto;
	text-align: center;
	align-items: center;
	width: 100vw;
	height: 100vw;
	max-width: 80rem;
}

.hide {
	display: none;
}

#container, #add-ini-page, #scorepage {
	padding: 0;
	border: 0;
	margin: auto;
	text-align: center;
	align-items: center;
	width: 100vw;
	height: 100vw;
	max-width: 80rem;
}

header{
	padding: 20px;
	font-size: 50px;
	text-align: center;
}

p {
	border: 2px;
	border-radius: 4px;
    justify-content: center;
	padding: auto;
	font-size: 20px;
	text-align: center;
}

form {
	justify-content: center;
}


.initials {
	display: flex;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px;
	border-radius: 4px;
}

.questions {
	padding: 10px;
	text-align: center;
	font-size: 25px;
}
/*do these need stuff in them to show up er? dont know what i done did wrong*/
.options {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(43, 87, 87);
    font-size: 3rem;
    min-width: 80rem;
}

.start, .submit-ini, .go-back {
	font-size: 2rem;
	padding: 2rem 0;
	width: 30rem;
	justify-content: center;
	text-align: center;
	margin-bottom: 1rem;
	background-color:rgb(43, 87, 87);
	border-radius: 4px;
}

/*for when you're in the game and can't exit*/
.btn[disabled]:hover {
	cursor: not-allowed;
}

@media screen and (max-width: 768px){
	body{}
}