/*
	Web-API's Quiz
*/

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
	padding: 20px;
	text-align: center;
}

.container {

}

.footer {
	
}